.inicio{
width: 100%;
margin-left: 34%;
}
h1{
    display: inline;
    font-family: arial;
}
.titulo1{
    font-size: 60px;
    color:rgb(74, 151, 22);
    width: 20%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}
.titulo2{
    font-size: 60px;
    color: white;
    width: 30px;
    height: 20px;
    background-color: rgb(74, 151, 22);
    margin-left: 2px;
}
.caja {
    font-family: arial;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 20%;
    color: #ffffff;
    font-size: 25px;
    background: #4a4b4d;
    border-radius: 30px 30px 0px 0px;
}

.dentrocaja{
    width: 50%;
    background-color: #d2d6c3af;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 20%;
    height: 50%;
}
.papa{
    border: 1px solid black;
    width: 65%;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    padding-left: 15px;
}
.responde{
    border: 1px solid black;
    width: 60%;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(96, 204, 74, 0.76);
    padding-right: 15px;
    margin-left: 35%;
    text-align: right;
}
